

body{

	background-image: url(.../images);
	font-family: 'Pacifico', cursive;
	background-color: #d6e0f5;
}


h1{
	font-size: 30pt;
	text-align: center;
}
h2{
	text-align: center;
	margin-top: 0;
	}
h3{
	text-align: center;
	margin-top: 0;
	}
h4{
	text-align: center;
	margin-top: 0;
	}
img.pic {
	width: 60%;
	height: 60%;
	padding-left: 175pt;
}
