body{

	background-image: url(.../images);
	font-family: 'Pacifico', cursive;
}


h1{
	font-size: 30pt;
	text-align: center;
}
h2{
	text-align: center;
	margin-top: 0;
	}
h3{
	text-align: center;
	margin-top: 0;
	}
img.pic {
	width: 30%;
	height: 40%;
	padding-left: 300pt;
}
